/** @format */

.landing-container {
  padding: 9% 10% 3.5%;
  height: auto;
  position: relative;
  background-color: rgb(100, 100, 100);
  margin-bottom: 0%;
  scroll-behavior: smooth;
}
.landing-contents {
  margin-top: 16rem;
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent linear-gradient(104deg, #271aba 0%, #140d5d 100%);
  border-radius: 30px;

  padding: 1rem 0rem 0;
}
.span-blue {
  color: #271aba;
}
.landing-text-box:nth-child(2) {
  border-right: 2px solid rgba(0, 0, 255, 0);
  padding-right: 0;
}
.landing-text-box {
  width: 500px;
  height: auto;
  padding-right: 8rem;
  border-right: 2px solid rgba(255, 255, 255, 0.452);
  position: relative;
  h2 {
    position: relative;
    bottom: 3.5rem;
    color: white;
    font-size: 3rem;
    margin-top: 0.2rem;
    margin-bottom: 0rem;
  }
  span {
    position: relative;
    bottom: 2.5rem;
    color: rgba(255, 255, 255, 0.815);
    line-height: 2.2;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.8rem;
  }
}
.landing-header-footer {
  position: absolute;
  bottom: -7.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  background-color: white;
  height: 8rem;
  padding: 0.5rem 0;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  h3 {
    font-size: 2.1rem;
  }
}
.header-footer-contents {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  .landing-icon {
    font-size: 2.6em;
    color: #271aba;
  }
  span {
    display: block;
    color: #0e49b5;
    font-weight: 400;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .landing-container {
    padding: 9% 2% 3%;
  }
}
